:root{
    --maincolor:#0cc3ce;
}
.bars_navbar_div{
    float: right;
    z-index: 9999;
    height: 650px;
    width:600px;
   
}
.bars_navbar_img img{
    width: 30%;
}
.Latest_News a{
text-decoration: none;
color:darkgray;
transition: all 0.3s;
cursor: pointer;
}
.Latest_News a:hover{
    background-color: var(--maincolor);
}
.New_In_Store a{
    text-decoration: underline;
    color: var(--maincolor);
    
}
/* start header*/
/*start Carousel*/
.carousel{
    z-index: 99;
}

.carousel-item{
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
}
.carousel-caption h1{
font-size: 55px;
}

/* end Carousel */
/*start navbar*/
.nav_bs_one{
    height: 40px;
    text-align: center;
    font-size: small;
    color:gray;
}
.nav_bs_one a:hover{
color: white;
}
.nav_bs_one i:hover{
    color: var(--maincolor);
    }
.nav-one{
    font-size: small;

}
.navbar{
    position: sticky;
    top: 0;
    z-index: 999;
    
}

.navbar .navbar-brand img{
    width:50%;
    display: flex;
}
.bag-shopping{
    width:20px;
    height:20px;
}
.navbar .nav-item  a{
    position: relative;
    padding: 30px;
    transition: all .3s;

   

    
}
.navbar .nav-item  a:hover{
    color:var(--maincolor);

}
.navbar .nav-item  .nav-home:hover:after{
content: '';
background-color:var(--maincolor);
height: 5px;
width:70px;
bottom:1px;
right: -4px;
position: absolute;

}
.navbar .nav-item  .nav-pages:hover:after{
    content: '';
    background-color:var(--maincolor);
    height: 5px;
    width:70px;
    bottom:1px;
    right: -4px;
    position: absolute;
    
    }
    .navbar .nav-item  .nav-portfolio:hover:after{
        content: '';
        background-color:var(--maincolor);
        height: 5px;
        width:70px;
        bottom:1px;
        right: 3px;
        position: absolute;
        
        }
        .navbar .nav-item  .nav-shop:hover:after{
            content: '';
    background-color:var(--maincolor);
            height: 5px;
            width:70px;
            bottom:1px;
            right: -10px;
            position: absolute;
            
            }
            .navbar .nav-item  .nav-Elements:hover:after{
                content: '';
    background-color:var(--maincolor);
                height: 5px;
                width:70px;
                bottom:1px;
                right: 3px;
                position: absolute;
                
                }
                .navbar .nav-item  .nav-login:hover:after{
                    content: '';
                    background-color:var(--maincolor);
                    height: 5px;
                    width:70px;
                    bottom:1px;
                    right: -10px;
                    position: absolute;
                    
                    }
                    .nav_icon i:hover{
                        color:var(--maincolor);
                        transition: all 0.3s;
                    }
/* end navbar*/
/* end header*/
/* start main*/
/*start Clothing items*/
.Clothing_items a{
    cursor: pointer;
}
.Clothing_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Clothing_item h2{
    position: absolute;
    height: 100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding-top: 27%;
    opacity: 0;
    transition: all 0.3s;
    

}
.Clothing_item h2:hover{
    opacity: 1;
}
/*end Clothing items*/
/*end main*/